/* Basic CSS Styles */
body {
    font-family: Arial, sans-serif; /* Sets the font for the page */
    line-height: 1.6; /* Increases the line spacing for readability */
    margin: 20px; /* Adds margin around the content */
    background-color: #f4f4f4; /* Light grey background for the page */
    color: #333; /* Dark grey text color */
}

h1, h2, h3 {
    color: #333; /* Dark grey color for headers */
}

p {
    margin-bottom: 20px; /* Adds space below paragraphs */
}

a {
    color: #0056b3; /* Sets link color to a blue */
    text-decoration: none; /* Removes underline from links */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}

/* Add more specific styles below */
